body{
    background-color: rgb(255, 240, 153);
}
p{
    background-color: lightblue;
    border-radius: 5px;
    border-style: dashed;
    border-color: rgb(204, 0, 102);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }